*{
    font-family:"Times New Roman";
    /*" OpenSans-Regular", "Arial, sans-serif", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    */
    color:black;
}
#sync1{
    padding:10px;
}
ul{
    color:white;
}
table{
    border: 1px solid black;
}
td{
    margin:0px;
    border: 1px solid black;
}