#PhysicsLinks a{
    text-decoration: none;
    color:black;
}
#PhysicsLinks div{
    height:40px;
    padding:10px;
}
#PhysicsLinks div:hover{
    height:40px;
    background-color: rgba(31, 30, 30, 0.5);
    transition:300ms;
    border-radius: 5px;
}
#ChemLinks div a{
    text-decoration: none;
    color:black;
}
#MathsLinks a{
    text-decoration: none;
    color:black;
}
#ChemLinks div{
    height:40px;
    padding:10px;
}
#ChemLinks div:hover{
    height:40px;
    background-color: rgba(31, 30, 30, 0.5);
    transition:500ms;
    border-radius: 5px;
}
#MathsLinks div{
    height:40px;
    padding:10px;
}
#MathsLinks div:hover{
    height:40px;
    background-color: rgba(31, 30, 30, 0.5);
    transition:500ms;
    border-radius: 5px;
}
#original p a{
    text-decoration: none;
}