
#sync1{
    display:flex;
    flex-direction: row;
}

#sync2{
    border: 1px solid black;
    flex-basis: 100%;
    padding:10px;
    height:630px;
    overflow:hidden;
    overflow-y: scroll;
}
#sync3{
    border: 1px solid black;
    width:40%;
    background-color: white;
    height:650px;
    overflow:hidden;
    overflow-y: scroll;
}
#sync4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#sync5{
    padding:20px;
}
#sync6{
    padding:10px;
    margin:5px;
    background-color:rgba(63, 63, 63, 0.5);
}
#sync7{
    border: 0.2px solid black;
    margin:10px;
    padding:10px;
    border-radius:3px;
}
.QuestionDiv{
    background-color: rgb(228, 225, 225);
    padding:10px;
    border:0.1px solid black;
    margin:5px;
    font-family: sans-serif;
    border-radius: 2px;
}
.AddAnswerForm{
    background-color: white;
    display: flex;
    flex-direction: column;
    border:1px solid black;
    padding:15px;
    height:400px;
    font-size: large;
    border-radius: 2px;
    font-family: sans-serif;
}
.AddAnswerForm textarea{
    height: 60%;
    width: 100%;
    font-size: large;
    font-family: sans-serif;
}
.AddAnswerForm input{
    height:20%;
    width:100%;
    font-size: large;
    font-family: sans-serif;
}
.PreviousAnswers{
    padding:4px;
    color:white;
    font-family: sans-serif;
}
.PreviousAnswers p{
    color:white;
    font-family: sans-serif;
}
.OneAnswer{
    padding:8px;
    margin: 4px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    border: 1px solid black;
}
.BOTbutton1{
    background-color:rgb(226, 66, 66);
    color:white;
    border-radius: 3px;
    width:15%;
    height:10%;
    padding:8px;
    border:none;
    font-family:sans-serif;
    font-weight: bold;
    border: 1px solid red;
}
.BOTbutton2{
    background-color: rgb(23, 180, 23);
    color:white;
    border-radius: 3px;
    margin-left:3%;
    width:15%;
    height:10%;
    padding:8px;
    border:none;
    font-family:sans-serif;
    font-weight: bold;
    border:1px solid green;
}
.Insideheader{
    width:70%;
    font-family: sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
}
.BackToMain{
    background-color: rgba(0, 0, 0, 0.7);
    font-family: sans-serif;
}

.SectionalDivision{
    background-color: rgba(63, 63, 63, 0.5);
    padding:10px;
    border-radius: 5px;
}