body{
    background-image: url("https://images.unsplash.com/photo-1527176930608-09cb256ab504?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MnwyMjI4OTkyfHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
    background-size:cover;
    background-attachment: fixed;
}
/*
https://pngtree.com/freebackground/simple-geometric-blue-background_933748.html
*/